
body{

}
.container {
  
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.h22 {
  margin-bottom: 20px;
  margin-top: 10%;
  font-size: 24px;
}
.inputArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 30%;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input:focus {
  outline: none;
  border: 1px solid #00bfff;
}
.loginBtn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(61, 240, 1, 0.955);
  border: none;
  cursor: pointer;
    border: 1px solid black;
  transition: all .3s;
}
.loginBtn:hover {
  transition: all .3s;
  padding: 4%;
}
@media screen and (max-width: 500px) {
  .container {
    max-width: 90%;
  }
}
