@font-face {
    font-family: "dana";
    src: url(./dana-medium.ttf);
  }
  .App{
    overflow: hidden;
  }
  html {
      font-size: 60.5%;
      font-family: 'dana';
      scroll-behavior: smooth;
  }
  body{
    background-color: rgba(255,253,208,0.3);
  }
  li {
      list-style: none;
  }
  
  a {
      text-decoration: none;
  }
  
  .header{
      border-bottom: 1px solid #E2E8F0;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
  }
  
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.4rem;
      border-bottom: 1px solid #E2E8F0;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
  }
  
  .hamburger {
      display: none;
  }
  
  .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
  }
  
  .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      direction: rtl;
      z-index: 10;
  }
  
  .nav-item {
      margin-left: 3rem;
  }
  
  .nav-link{
      font-size: 1.4rem;
      font-weight: 400;
      color: #475569;
  }
  
  .nav-link:hover{
      color: #482ff7;
  }
  
  .nav-logo {
      font-size: 2.1rem;
      font-weight: 400;
      color: #482ff7;
  }
  .login-btn{
    background-color: rgba(61, 240, 1, 0.955);
    border-radius: 10px;
    border: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5px;
    padding-left: 5px;
    transition: all .3s;
  }
  .login-btn:hover{
    transition: all .3s;
    background-color: rgba(61, 240, 1, 1);
    border-radius: 5px;
  }
  /* header end */
  .khas{
    display: flex;
    justify-content: center;
  }
  body,html{
    overflow-x: hidden;
  }
  /* make logos-area for body */
  .logos-h1{
    direction: rtl;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    margin-left: 3%;
  }
  .logos-area{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .logos{
    display: flex;
    background-color: rgba(128, 128, 128,0.1);
    flex-direction: row-reverse;
    width: 20%;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 3%;
    flex-basis: 25%;
  }
  .logos img{
    width: 70px;
    height: 70px;
  }
  .logos-names{
    direction: rtl;
    color: black;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 0.9rem;
    margin-right: 3%;
  }
  .logos-names p{
    direction: rtl;
  }
  /* end logos-area */
  @keyframes loading {
    0%   { transform: translate(-50%, -50%) rotate(25deg);  }
    100% { transform: translate(-50%, -50%) rotate(385deg); }
  }
  .khass{
    font-size: 1.5rem;
    top: -230%;
    right: -6%;
    cursor: pointer;
  }
  /* footer start */
  .line1{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    color: rgba(0, 0, 0, 0.5);
  }
  .text1{
    transform: rotate(45deg);
    margin-left: 3%;
    transition: all .3s;
  }
  .text22{
    transform: rotate(-25deg);
    margin-right: 7%;
    transition: all .3s;
  }
  /* line 2 */
  .line2{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 7%;
    color: rgba(0, 0, 0, 0.5);
  }
  .text33{
    transform: rotate(10deg);
    margin-left: 7%;
    transition: all .3s;
  }
  .text44{
    transform: rotate(15deg);
    margin-right: 1%;
    margin-top: 10%;
    transition: all .3s;
  }
  .line3{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 8%;
    color: rgba(0, 0, 0, 0.5);
    
  }
  .text55{
    transform: rotate(-25deg);
    margin-left: 1%;
    margin-top: 4;
    transition: all .3s;
  }
  .text1:hover,.text22:hover,.text33:hover,.text44:hover,.text55:hover{
    color: rgba(0, 0, 0, 1);
    transition: all .3s;
  }
   /* sport section */
   .sports{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 7%;
  }
  .sport-box{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-bottom: 5%;
    border-bottom: 1px solid #E2E8F0;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.3);
    transition: all .4s;
    border-radius: 15px;
  }
  
  .sport-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .sport-box img{
    margin-left: 10%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    margin-bottom: 1%;
  }
  .sport-text p{
    width: 70%;
    opacity: 0.7;
    font-size: 1.7rem;
    direction: rtl;
    
  }
  .edame{
    font-family: 'dana';
    background-color: rgba(61, 240, 1, 0.8);
    border-radius: 12px;
    border: 1px solid black;
    padding: 1%;
    padding-right: 2%;
    padding-left: 2%;
    transition: all .3s;
    margin-bottom: 7%;
  }
  .edame:hover{
    transition: all .3s;
    padding: 1.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    background-color: rgba(61, 240, 1, 1);
    border-radius: 5px;
  }
  .sport-box h1{
    font-size: 3rem;
  }
  .singin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
    flex-wrap: wrap;
    flex-basis: 100%;
  }
  /* image slider */
  /* Slideshow container */
  .slideshow-container,.slideshow-container2,.slideshow-container3,.slideshow-container4,.slideshow-container5,.slideshow-container6 {
    width: 30%;
    height: 50%;
    position: relative;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 2%;
  }
  .slideshow-container img,.slideshow-container2 img,.slideshow-container3 img,.slideshow-container4 img,.slideshow-container5 img,.slideshow-container6 img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border-bottom: none;
  }
  /* Caption text */
  .text,.text2,.text3,.text4,.text5,.text6 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext,.numbertext2,.numbertext3,.numbertext4,.numbertext5,.numbertext6 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot,.dot2,.dot3,.dot4,.dot5,.dot6 {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
  }
  
  .active,.active2,.active3,.active4,.active5,.active6 {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade,.fade2,.fade3,.fade4,.fade5,.fade6 {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .slider-container {
    width: 100%;
    height: 400px;
  }
  
  @media (max-width: 768px) {
    .slider-container {
      height: 300px;
    }
    .nav-menu{
      background-color: red;
    }
  }
  /*adkfjlkasdfja  */

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




  /*  */
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .matn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all ease-in-out .3s;
  }
  .matn p{
    padding-bottom: 15%;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 1%;
    direction: rtl;
    color: rgba(0, 0, 0, 0.8);
  }
  .matn button{
    font-family: 'dana';
    background-color: rgba(61, 240, 1, 0.8);
    border: none;
    border-radius: 5px;
    padding: 1%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 1%;
    transition: all .3s;
    margin-bottom: 2%;
    cursor: pointer;
  }
  .matn h1{
    font-size: 1.7rem;
    border-radius: 8px;
    padding: 1%;
    direction: rtl;
    color: rgba(0, 0, 0, 1);
  }
  #more,#more2,#more3,#more4,#more5,#more6 {display: none;}
  /* image slider end */
  /* sport end */
  /* button filter area */
  .sort-area{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
  }
  .filter{
    font-size: 1.5rem;
    border-radius: 8px;
    direction: rtl;
    font-family: 'dana';
    margin-left: 2%;
    width: 35%;
    height: 35px;
  }
  /* button filter area end */
  
  .matn a{
    font-family: 'dana';
    background-color: rgba(61, 240, 1, 0.8);
    border-radius: 5px;
    border: 1px solid black;
    padding: 1%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 1%;
    text-align: center;
    transition: all .3s;
    margin-bottom: 2%;
    width: 17%;
    font-size: 1rem;
  }
  
  
  
  
  
  
  @media only screen and (max-width: 768px) {
    .slideshow-container{
      width: 40%;
    }
    .slideshow-container img,.slideshow-container2 img,.slideshow-container3 img,.slideshow-container4 img,.slideshow-container5 img,.slideshow-container6 img{
      width: 100%;
      height: 200px;
    }
    .matn p{
      font-size: 1.2rem;
    }
    .line1,.line2,.line3{
      display: none;
    }
    .sport-text p{
      width: 90%;
      height: 10%;
      opacity: 0.8;
      font-size: 1.4rem;
    }
    .sport-box h1{
      font-size: 2.5rem;
    }
    .sport-box img{
      width: 45%;
      height: 45%;
    }
    .sport-box{
      width: 100%;
      margin-right: 2%;
      line-height: 1.7;
    }
    .nav-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    }
      .nav-menu {
          position: fixed;
          left: 150%;
          top: 5rem;
          flex-direction: column;
          background-color: #fff;
          border: 1px solid black;
          width: 40%;
          border-radius: 10px;
          text-align: right;
          transition: 0.3s;
          box-shadow:
              0 10px 27px rgba(0, 0, 0, 0.05);
      }
  
      .nav-menu.active {
          left: 45%;
      }
  
      .nav-item {
          margin: 1.4rem 0;
      }
  
      .hamburger {
          display: block;
          cursor: pointer;
      }
  
      .hamburger.active .bar:nth-child(2) {
          opacity: 0;
      }
  
      .hamburger.active .bar:nth-child(1) {
          -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
      }
  
      .hamburger.active .bar:nth-child(3) {
          -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
      }

      /* header end   coded by M.H */
  
      
      .donata{
      width: 100%;
      overflow: hidden;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      }
      /* body start */
      .khass{
        font-size: 1.2rem;
        top: -245%;
        right: -6%;
        cursor: pointer;
      }
  
      
      .sports{
        margin-top: 10%;
      }
      .logos-h1{
        direction: rtl;
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        margin-left: 3%;
      }
      .logos-area{
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .logos{
        flex-basis: 35%;
      }
      .logos img{
        width: 65px;
        height: 65px;
      }
      .logos-names{
        direction: rtl;
        color: black;
        margin-bottom: auto;
        margin-top: auto;
        font-size: 0.9rem;
        margin-right: 3%;
      }
      .logos-names p{
        direction: rtl;
        font-size: 0.9rem;
      }
  }
  @media only screen and (max-width: 500px){
    .filter{
      font-size: 1rem;
      border-radius: 8px;
      direction: rtl;
      font-family: 'dana';
      padding: 0;
      margin-left: 2%;
    }
    .slideshow-container{
      width: 70%;
    }
    .sports{
      margin-top: 18%;
    }
    .slideshow-container img,.slideshow-container2 img,.slideshow-container3 img,.slideshow-container4 img,.slideshow-container5 img,.slideshow-container6 img{
      width: 100%;
      height: 130px;
    }
    .matn p{
      padding-bottom: 15%;
      font-size: 1rem;
      border-radius: 8px;
      padding: 1%;
      direction: rtl;
      color: rgba(0, 0, 0, 0.8);
    }
    .matn button{
      font-family: 'dana';
      background-color: rgba(61, 240, 1, 0.8);
      border-radius: 5px;
      padding: 1%;
      padding-right: 3%;
      padding-left: 3%;
      margin-right: 1%;
      transition: all .3s;
      margin-bottom: 2%;
      font-size: 1rem;
    }
    .matn h1{
      font-size: 1.4rem;
      border-radius: 8px;
      padding: 1%;
      direction: rtl;
      color: rgba(0, 0, 0, 1);
    }
    .matn a{
      margin-top: 2%;
      margin-bottom: 2%;
      margin-right: 2%;
      width: 35%;
    }
    .sport-text p{
      width: 90%;
      height: 10%;
      opacity: 0.8; 
      font-size: 1.2rem;
    }
    .sport-box h1{
      font-size: 2.5rem;
    }
    .sport-box img{
      display: none;
    }
    .sort-area{
      display: flex;
      justify-content: flex-end;
    }
    .filter{
      font-size: 1rem;
      border-radius: 8px;
      direction: rtl;
      font-family: 'dana';
    }
    .logos-h1{
      font-size: 2rem;
    }
    .logos{
      padding: 1%;
      padding-right: 10%;
      padding-left: 10%;
      margin-bottom: 8%;
      flex-basis: 55%;
    }
    .logos img{
      width: 50px;
      height: 50px;
    }
    .logos-names{
      font-size: 0.8rem;
    }
  }