.peygirih1{
    margin-top: 10%;
    font-size: 4.5rem;
    color: white;
    display: flex;
    justify-content: center;
}
.peygiriform{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.formpey{
    direction: rtl;
    padding: 1.5%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    background-color: rgba(10, 110, 189, 1);
    width: 40%;
    height: 40vh;
}
.formpey label{
    color: white;
    margin-right: 3%;
    font-size: 2rem;
}
.formpey input{
    width: 80%;
    margin-right: 7%;
    margin-top: 3%;
}
.formpey button{
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    padding-right: 4%;
    padding-left: 4%;
    font-family: 'dana';
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}